%footer.footer
  %small
    %a{ href: "http://railstutorial.org/" } Rails Tutorial
    by Michael Hartl
  %nav
    %ul
      %il= link_to "About", about_path
      %il= link_to "Contact", contact_path
      %il
        %a{ href: "http://railstutorial.org/" } Rails Tutorial
